<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8">
		<title>Universisad</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	</head>
	<body>
		<header>
			<div class="container">
				<h2 >Crear aqui el alumno</h2>
			</di>
		</header>
		
		
		<div class="container">
		
			<form action="/alumno/creado" method="POST">
			
				<div class="form-group">
					<input type="text" class="form-group" name="nombreAlumno" placeholder="Nombre del Alumno" >
				</div>
				<div class="form-group">
					<input type="number" class="form-group" name="edad" placeholder="Edad del Alumno" >
				</div>
				<div class="form-group">
					<h8 >Fecha de nacimiento</h8>
					<input type="date" class="form-group" name="fechananimiento" placeholder="Fecha de nacimiento del Alumno" >
				</div>
				<div class="form-group">
					<input type="text" class="form-group" name="historia" placeholder="Historia del Alumno" >
				</div>
				<div class="form-group">
					<select name= "idCurso">
					
					<option>Selecionar curso</option>
					
					<option th:each="curso: ${cursos}"
							th:value="${curso.id}"
							th:text= "${curso.nombreCurso}"/>
					</select>
						
				</div>
				
				
				<button type="submit" class="btn btn-primary"> Crear </button>
			</form>
		</div>
		
		
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
 		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
	
</html>




